<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <H1>Guess the Secret Number - Between 1 and 100 (both numbers inclusive)</H1>
    <H2>(If you enter a string/character/letter/sign or nothing - you'll get an error and have to go back!)</H2>
    <p>
        <a href="/">Game</a> | <a href="/profile">Profile</a> | <a href="/users">All users</a> | <a href="/comments">Leave a comment</a>
    </p>
    <hr/>

        {% block content %}
        {% endblock content %}
</body>
</html>